*{
  list-style: none;
  text-decoration: none;
}
.App {
  text-align: center;
}
.App-header {
  width: 100%;
  padding:10px;
  background-color: black;
  color: white;
}
.App-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-header ul li{
  margin-right: 10px;
}
.App-header ul li a{
  color: white;
}